* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;

}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

/* Header Section */

header {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 1000;
    transition: background-color 0.3 ease;
}

nav {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 5px;
}

.logo img {
    width: auto;
    cursor: pointer;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    padding: 4px;
    z-index: 1001;
}

.nav-toggle span {
    display: flex;
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;

}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: #ffcc00;
}

/* Hero */

.hero {
    width: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/gym-banner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.hero-container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    color: white;
}

.hero-container h1 {
    font-size: 64px;
    width: 600px;
    margin-bottom: 10px;
    line-height: 1.2;
}

.hero-btn {
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-btn:hover {
    background-color: #958686;
    color: #ffcc00;
}

@media (max-width: 768px) {
    nav {
        padding: 0 20px;
    }

    .nav-toggle {
        display: flex;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100vh;
        background-color: #000000;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        transition: right 0.3s ease;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links a {
        font-size: 20px;
    }

    .nav-toggle.active span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .nav-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .nav-toggle.active span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .hero {
        padding: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: calc(60%);
        height: 80vh;
    }

    .hero-container h1 {
        font-size: 40px;
        width: 100%;
        margin-bottom: 20px;
    }
}


.advantages {
    background-color: #000;
    color: white;
    padding-top: 120px;
    padding-bottom: 100px;
}

.advantages h2 {
    font-size: 48px;
    margin-bottom: 60px;
}

.advantages-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.advantage-item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.advantage-icon {
    width: 40px;
    height: 40px;
}

.advantage-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.advantage-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #FFFF00;
}

.advantage-content p {
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px
    }

    .advantages {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    .advantages h2 {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .advantages-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .advantage-content h3 {
        font-size: 20px;
    }

    .advantage-content p {
        width: 100%;
    }

    html {
        scroll-padding-top: 80px;
    }

    html {
        scroll-padding-top: 80px;
    }
}

.membership {
    background-color: #000;
    padding-top: 120px;
    padding-bottom: 100px;
}

.membership h2 {
    font-size: 48px;
    margin-bottom: 60px;
    text-align: center;
    color: #FFFFFF;
}

.membership-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.membership-card {
    background-color: #222222;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    transition: transform 0.3s ease;
}

.membership-card:hover {
    transform: scale(1.05);
}

.membership-card h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #FFFF00;
    text-align: center;
}

.membership-card .price {
    font-size: 36px;
    margin-bottom: 20px;
    color: #FFFF00;
    text-align: center;
}

.membership-card ul {
    list-style: none;
    margin-bottom: auto;
    color: #FFFFFF;
}

.membership-card ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    line-height: 1.5;


}

.membership-card ul li img {
    width: 20px;
    height: 20px;

}

.membership-card .buy-btn {
    padding: 15px;
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.membership-card .buy-btn:hover {
    background-color: #958686;
    color: #ffcc00;
}

@media (max-width: 1024px) {
    .membership-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .membership {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    .membership-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .membership h2 {
        font-size: 36px;
        margin-bottom: 40px;

    }

    .membership-card {
        padding: 20px;
    }

}

.about {
    background-color: #000;
    padding-top: 120px;
    padding-bottom: 100px;
    color: white;
}

.about-text h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
}

.about-slider {
    position: relative;
    width: 100%;
}

.slider-container {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.slider-wrapper img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    flex-shrink: 0;
}

.slider-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.slider-arrow {
    display: flex;
    gap: 10px;
}

.slider-arrow {
    position: static;
    transform: none;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}

.slider-arrow img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  background: black;
  border: none;

}
.slider-indicator{
    position: static;
    transform: none;
    display: flex;
    gap: 10px;
}
.indicator{
   width: 30px;
   height: 4px;
   border-radius: 5px;
   background-color: white;

}

.indicator.active {
    background-color: #FFFF00;
}

@media (max-width: 768px) {
 .about{
    padding-top: 80px;
    padding-bottom: 60px;

 }
 .about-content{
    grid-template-columns: 1fr;
    gap: 20px;
 }
 .about-text h1{
    font-size: 36px;
    margin-bottom: 10px;
 }
 .about-text p{
    font-size: 14px;
 }
 .slider-wrapper img{
    height: 300px;
 }
}

.trainers{

    padding-bottom: 100px;
    background-color: #000;
    color: white;
}
.trainers h1{
    font-size: 48px;
    margin-bottom: 60px;
    text-align: center;
}
.trainers-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;

}
.trainer-card{
    background-color: #1A1A1A;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.trainer-card:hover{
    transform:translateY(-5px);
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
}
.trainer-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.trainer-card h3{
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
    margin:0 15px 15px;
    gap: 15px;
}
.social-links a{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.social-links a:hover{
    background-color: #c52626;
    color: #000;

}
.social-links a img{
    width: 12px;
    height: 12px;
}

@media (max-width: 1200px) {
    .trainers-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 

}
}
@media (max-width: 768px) {
    .trainers-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  

}

}

/* Footer Main */
.footer {
    background: #000;
    color: #fff;
    padding: 80px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left {
    width: 32%;
}

.footer-left .footer-logo {
    width: 140px;
    margin-bottom: 20px;
}

.footer-left p {
    line-height: 1.6;
    font-size: 17px;
    color: #dcdcdc;
}


.footer-middle {
    width: 28%;
}

.footer-middle h3 {
    margin-bottom: 15px;
    font-size: 22px;
}

.footer-middle p {
    margin: 3px 0;
    color: #dcdcdc;
}


.footer-right {
    width: 28%;
}

.footer-right h3 {
    margin-bottom: 15px;
    font-size: 22px;
}

.footer-right p {
    margin: 6px 0;
    display: flex;
    align-items: center;
}

.footer-right .icon {
    margin-right: 10px;
}


.social-icons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
     height: 40px;
    width: 30px;
    
}

.icon-circle {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    transition:all 0.3s ease-in;
}

.icon-circle:hover {
    background: #ce9090;
}

.icon-circle.active {
    background: #7f7f2a; 
    border-color: #7f7f2a;
}


@media (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        gap: 40px;
    }

    .footer-left, .footer-middle, .footer-right {
        width: 100%;
    }
}
